*,
*:before,
*:after {
  box-sizing: border-box;
}




.carousel {
  position: relative;
  width: 80%;
  height: 225px; 
  margin: 0 auto;
  
  text-align: center;
}

.carousel-content {
  position: relative;
  overflow: hidden;
  transition: width .4s;
  height: 100%;
}
p {
    font-size:smaller;
}
.slide {
  height: 100%;
  position: absolute;
  z-index: 1;
  transition: left .4s cubic-bezier(.47,.13,.15,.89);
  background: no-repeat;
}

.slide-2 {
  background-image: url(../img/maintenance.png);
}

.slide-3 {
  background-image: url(../img/pedigree.jpg);
}

.slide-4 {
  background-image: url(../img/royal.png);
}

.slide-5 {
  background-image: url(../img/raza.png);
}

.slide-6 {
    background-image: url(../img/oldprince.png);
}

.slide-7 {
    background-image: url(../img/pellegrini.png);
}

.slide-8 {
    background-image: url(../img/sieger.png);
}

.slide-9 {
    background-image: url(../img/dogchow.png);
}

.slide-10 {
    background-image: url(../img/royal2.jpg);
}

.slide-11 {
    background-image: url(../img/cat-food.jpg);
}

.nav {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  background-color: rgba(150,150,150,.3);
  width: 20px;
  height: 20px;
  z-index: 2;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  outline: none;
  color: white;
  /*-webkit-user-select: none;*/
}

.nav-left {
  left: -25px;
}

.nav-right {
  right: -25px;
}

.carousel-arrow-icon-left {
  margin-left: 5px;
  margin-top: 2px;
}

.carousel-arrow-icon-right {
  margin-left: 7px;
  margin-top: 2px;
}